body {
  font-family: Tahoma, Geneva, sans-serif;
}

.navbar{
    color: #FFFFFF;
    background-color: #DDD1C7;
    border: none;
    font-variant: small-caps;
    border-radius: 0;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand{
    float: left;
    padding: 15px;
    font-size: 36px;
    font-weight: 600;
    line-height: 14px;
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
  font-size: 18px;
}

.jumbotron {
    background-image: url("../images/stock_mkt.jpg");
    background-size: cover;
  }

hr {
    border: 1px grey;
  }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #DDD1C7;
    color: #FFFFFF;
    font-variant: small-caps;
  }

.box {
    padding: 10px;
    color: grey;
    background: white;
    margin-right: 10px;
    margin-left:10px; 
    margin-bottom: 10px;
    height:auto;
    overflow:auto;
}

td {
    font-size: 30px;
    padding: 10px;
  }

  .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  