body {
  font-family: Tahoma, Geneva, sans-serif;
}

.navbar{
    color: #FFFFFF;
    background-color: #DDD1C7;
    border: none;
    font-variant: small-caps;
    border-radius: 0;
}

.navbar-brand{
    float: left;
    padding: 15px;
    font-size: 36px;
    font-weight: 600;
    line-height: 14px;
    color: #FFFFFF;
}


.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
  color: #FFFFFF;
  font-size: 18px;
}

.jumbotron {
    background-image: url("../images/stock_mkt.jpg");
    background-size: cover;
  }

hr {
    border: 1px dotted #4B8937;
  }

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #DDD1C7;
  color: #FFFFFF;
  font-variant: small-caps;
}





